<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Product reviewer</title>
</head>
<body>


<div class="container text-center">
    <div><h1>Welcome to Product reviewer</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@(/products)">List Products</a>
    </div>
    <div class="p-2">
        <a th:href="@(/products/new)">Create new Product </a>
    </div>
    <div class=
    <div class="p-2">
        <a th:href="@(/categories)">List Categories</a>
    </div>
    <div class="p-2">
        <a th:href="@(/categories/new)">Create new Category</a>
    </div>
</div>
</body>
</html>