<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Create new Category</title>
</head>
<body>


<div class="container text-center">
    <div><h1>Create new Product</h1></div>

    <form th:action=@{/categories/save}" th:object="${category}" method="post"
          style="max-width: 615px; margin 0 auto;">
        <div>
            <div class="form-group row">
                <label class="col-form-label"> Product Name: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required />
                </div>
                <div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label"> Category Name: </label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{name}" class="form-control" required />
                    </div>
                    <div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label"> Comment: </label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{name}" class="form-control" required />
                        </div>
            </div>
            <div>
                <h1 style="color:blue" allign= center">ADD IMAGE</h1>
            </div>
        </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <form action="img" method="post" enctype="multipart/form-data">
                    Select image:
                    <input type="file " name="image">
                    <input type ="submit" value = "Add image">
                </form>
        <div>
        </div>
    </form>
</div>
</body>
</html>